@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }


h1 {
  color: #004D40;
}
#headtitle{
margin-left: 30%;
}
  .wrapper{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .table-responsive {
    overflow-y: scroll;
}
  .top_navbar{
    background: #80CBC4;
    height: 61px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
  }
  
  .top_navbar .hamburger{
    width: 80px;
    background: #004D40;
    position: relative;
    font-size: 28px;
  }
  
  .top_navbar .hamburger .hamburger__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 40px;
    height: 20px;
  }
  
  .top_navbar .hamburger__inner > div{
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .top_navbar .hamburger div.two{
    top: 10px;
    width: 40px;
  }
  
  .top_navbar .hamburger div.three{
    top: 20px;
  }
  
  .top_navbar .menu{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .top_navbar .menu .logo{
    color: #004D40;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .top_navbar .menu .right_menu ul{
    display: flex;
  }
  
  .top_navbar .menu .right_menu ul li{
    position: relative;
    top: 20px;
  }
  
  .top_navbar .menu .right_menu ul li .fas{
    font-size: 22px;
    cursor: pointer;
    color: #004D40;
  }
  
  .top_navbar .menu .right_menu ul li .profile_dd{
    position: absolute;
    top: 35px;
    right: -10px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px 0;
    width: 180px;
    border-radius: 3px;
    display: none;
    user-select: none;
  }

  
  .top_navbar .menu .right_menu ul li .profile_dd .dd_item{
    padding: 10px;
    cursor: pointer;
    color: #004D40;
  }
  
  .top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
    background: #E0F2F1;
  }
  
  .top_navbar .menu .right_menu ul li .profile_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
  }
  
  .main_container .sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 238px;
    height: 100%;
    background: #004D40;
    transition: all 0.3s ease;
  }
  
  .main_container .sidebar .sidebar__inner{
    position: relative;
  }
  
  .main_container .sidebar .profile{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 110px 0;
    white-space: nowrap;
    height: 214px;
    transition: all 0.3s ease;
  }
  .profile_name{
    text-transform: capitalize;
  }
  .main_container .sidebar .profile .img{
    padding: 0 18px;
  }
  
  .main_container .sidebar .profile img{
     width: 200px;
     position: relative;
     text-align: center;
     color: #fff;
  }
  .main_container .sidebar .profile_info{
    position: absolute;
    left: 75px;
    top: 220px;
  }
  .main_container .sidebar .profile p:first-child{
    font-size: 14px;
    color: #80CBC4;
    margin-bottom: 3px;
  }

  .main_container {
    background: #E0F2F1;
    height: 100%;
    width: 100%;
    justify-items: center;
    position: fixed;
    overflow-y: hidden;
    margin: 61px 0px 0px 239px;
}
 
  header.intro{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
  }
  .container{
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: all 0.3s ease;
    justify-items: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    position: fixed;
  }
  .main_container .sidebar ul li a{
    color: #fff;
    font-size: 18px;
    height: 70px;
    padding: 20px 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    transition: all 0.3s ease;
  }
  
  .main_container .sidebar ul li a .icon{
    margin-right: 10px;
    font-size: 28px;
  }
  
  .main_container .sidebar ul li a span{
    display: inline-block;
  }
  
  .main_container .sidebar ul li a:hover,
  .main_container .sidebar ul li a.active{
    background: #fff;
    color: #004D40;
  }
  
  .main_container .container .item{
    background: #fff;
    border: 1px solid #E0F2F1;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  
  /* after adding active class */
  .wrapper.active .sidebar{
    width: 80px;
  }
  
  .wrapper.active .sidebar ul li a span.title,
  .wrapper.active .profile_info
  {
    display: none;
    text-align: left;
  }
  .cont{
    background-color: #80CBC4;
    margin-left: 200px;
    margin-top: auto;
    height:100%;
    width:100%;
  }
  .wrapper.active .main_container .container{
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  .title1{
    color: red;
  }
  .intro a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #004D40;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .intro a:hover {
    background: #004D40;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #004D40,
                0 0 25px #004D40,
                0 0 50px #004D40,
                0 0 100px #004D40;
  }
  
  .intro a span {
    position: absolute;
    display: block;
  }
  
  .intro a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #004D40);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .intro a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #004D40);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .intro a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #004D40);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .intro a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #004D40);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }